<div id="<%= dom_id @emp %>">
  <p>
    <strong>First name:</strong>
    <%= @emp.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @emp.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @emp.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @emp.phone %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @emp.role %>
  </p>

</div>
