

<h1>Mark Attendance</h1>

<%= form_with(model: @attendance, url: attendances_path, local: true) do |form| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this attendance from being saved:</h2>
      <ul>
        <% @attendance.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_field :date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, ['Present', 'Absent', 'Late'], {}, class: 'form-control' %>
  </div>

  <br/>
  <div class="actions">
    <%= form.submit 'Mark Attendance', class: 'btn btn-primary' %>
  </div>
<% end %>
